.topo{
}
    

.box{
    display: inline-flex;
    margin-top: 0px;
    background-size: cover;

}

.nba{
    border-radius: 30px;
    width: 71px;
    height: 30px;
    border: solid 1px;
    text-align: center;
    text-overflow: ellipsis;
}

.body{
    margin: 0px;
    padding: 0px;
}