<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p><a href="/home">Home</a> | <a href="/contato">Contato</a></p> | <a href="/form">Formulário</a>
    <h1>Formulário</h1>
    <form action="formAction">
        <p><input type="text" name="dsNome" id="dsNome" placeholder="Nome"></p>
        <p><input type="email" name="dsmail" id="dsEmail" placeholder="Email"></p>
        <label for="ieNota">Qual nota você dá para o curso</label>
        <p><input type="radio" name="ieNota" id="ieNota" value="1" checked>ótimo</p>
        <p><input type="radio" name="ieNota" id="ieNota" value="2">Muito bom</p>
        <p><input type="radio" name="ieNota" id="ieNota" value="3">Bom</p>
        <p><input type="radio" name="ieNota" id="ieNota" value="4">Precisa melhorar</p>

        <button type="reset">Limpar</button>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>